Makefile
autom4te.cache/
jlog_config.h
*.a
*.so
*.o
*.lo
*.dylib
jlogctl
jthreadtest
config.log
config.status
configure
perl/JLog.bs
perl/JLog.c
perl/Makefile.PL
perl/blib/
perl/pm_to_blib
java/libjlog.jnilib
java/jlog.jar
java/*.class
